@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
  
*{
    box-sizing:border-box;
    font-family: 'Space Mono', monospace;
}
  
body, html{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .cart-mobile {
        margin: auto auto 0 auto !important;
    }

    .cart-mobile {
        flex-direction: row !important;
        align-items: center;
    }
}

/* BACKGROUND STYLES */

.cart-card {
    width: 384px;
    height: 228px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective:600px;
    margin: auto;
    margin-right: calc(-1*30%);
    margin-top: calc(33%);
}

.cart-card-bg{
    padding: 18px;
    display: flex;
    flex-direction: column;
    transform: rotateY(10deg);
    box-shadow: 1px 1px #aaa3a3;
    top: 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    width: 480px;
    height: 285px;
    background-image: url(''), linear-gradient(to right bottom, #bde0db, #bde0db, #bde0db, #bde0db, #bde0db); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.price-tag {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}